.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #2e2d2d;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border-radius: 5px;
  min-width: 200px;
  padding: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
