.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e2d2d;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -7px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  min-height: 300px;
  padding: 40px;
  margin: 20px auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Button Styling */
button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #555;
}

@media (max-width: 600px) {
  .form-wrapper {
    width: 100%;
    padding: 20px;
  }

  button[type="submit"] {
    font-size: 14px;
    padding: 8px;
  }
}
